@import "../vendor/prism.css";
@import "./variables.css";
@import "./button.css";
@import "./tab-group.css";
@import "./top-menu.css";
@import "./alert.css";
@import "./modal.css";

body {
  background-color: var(--color-gray-900);
  color: white;
  font-family: var(--font-sans);
  padding: 0 2rem;
  margin: 0;
}

a {
  color: var(--color-violet-500);
  text-decoration: none;
}

a:hover {
  text-decoration-line: underline;
}

.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading {
  cursor: wait;
}
