.tab-group {
  margin-bottom: 2rem;
}

.tab-labels {
  display: flex;
  gap: 1.5rem;
}

.tab-labels a {
  color: var(--color-gray-300);
  padding: 0.75rem;
}

.tab-labels a.tab-active {
  color: var(--color-violet-500);
  border-bottom: 2px solid var(--color-violet-500);
}

.tab-contents > div {
  display: none;
  margin-top: 1rem;
}

.tab-contents div.tab-active {
  display: block;
}
